<br/>
<br/>
<style>
  h2{text-align: center;}
  form {padding-bottom:20px;}
  body{text-align: center;
    font-size: 20px;}
  #borders{border:5px solid #ba121a;
          border-radius: 15px;
          max-width: 500px;
          margin-left:315px;
          background-color: #e9e9e9;
}
</style>
<h2>Confirm deletion of entry</h2>
<br>
<body>
  <div id="borders">
ID:
<%=  estimate._id %>
  <br> Name:
  <%=estimate.name%>
    <br/> location:
    <%=estimate.location%>
      <br/> squareFeet:
      <%=estimate.squareFeet%>
        <br/> materials:
        <br/>
        <% for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
          <div> name:
            <%=material.name%>
              <br/> unitcost:
              <%=material.unitcost%>
                <br/> coverageSquareFeetPerUnit:
                <%=material.coverageSquareFeetPerUnit%>
              
          </div>
       
          <% } %>
        </body>

            <form method="get" action="/estimate">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
          </div>
            <br/>
            <form method="POST" action="/estimate/delete/<%= estimate._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
<br>
<br>
<br>