<!-- Unit 7 Rohith Kumar Agiru & Kishan Kalburgi -->

<footer class="footer-bg-1">
    <div class="row footer-row">
    <div class="footer-body col-sm-3">
        <div class="company-name">C&G Coating &copy; 2017</div>
    </div>
    <div class="footer-body col-sm-3">
        <p>Bitbucket Repo => <a href="https://bitbucket.org/4456317f04/cge04"><u>cge04</u></a></p>
    </div>
</footer>