<!-- /**
 *
 *      +----------------------------------------------------------------------------------------------------------------+
 *      |                                             Copyright - Northest Missouri State University                  |
 *       |-----------------------------------------------------------------------------------------------------------------|
 *      |Team #6                                                                                                                          |
 *      |Unit #6  : Pravalika Kawali,Sai Teja Jonnalagadda                                                                                        |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |Description: This page handles the web requests                                                                     |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |    NAME                            VERSION                       CHANGES                                    |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |   Pravalika Kawali                 0.0.1(Initial)                 updated team 6 task                           |
 *      |   Sai Teja Jonnalagadda            0.0.2                          Modified Header                 |   |                                                                                                                                       |
 *      |                                                                                                                                       |
 *      +-----------------------------------------------------------------------------------------------------------------+
 */ -->
<div class="container">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">

      
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo" src="\images\cglogo.png" width="55" height="55" alt="C&G Logo">
        <a class="navbar-brand" href="/">Welcome</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <li>
            <a>cge04</a></li>
          <li>  <a href="/contact"> Contact</a></li>
           <li><a href="/estimate">Estimates</a>
          </li>
          <% include about.ejs %>
        </ul>
          <%if(!user){%>
            <li>
              <a href="/login">Login</a>
            </li>
          <!--  <li>
              <a href="/signup">Register</a>
            </li> -->
            <%} else{%>
              <li class="dropdown">
                <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= user.profile.name %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <li>
                      <a href="/account">Profile</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                    </li>
                 </ul>
                </li>
                <%}%>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>