<br/>
<br/>
<br/>
<h1>Jake Edmisten</h1>
<h2>Software Developer and Graphic Designer</h2>
<p>I'm a senior from Kansas City, MO and my major is Interactive Digital Media. Last summer I interned in the information services department at Kawasaki. I was tasked with transferring a physical copy of a form into an internet application.</p>
<p>I currently live in a house in Maryville and have since now lived primarily in Maryville August of 2016. Last Spring I brought my dog, Bear, up with me to keep me company along with my roommates.</p>
<p>In my downtime I'm usually hanging out with my friends, playing basketball, or playing around in photoshop.</p>
<br/>
<br/>