<br/>
<br/>
<br/>
<h1>Tapan Kumar Jella</h1>
    <h2 style="color:black;">Software Developer</h2>
        <h3> My background </h3>
            <h5>I am Tapan <br> I come from a city in the southern part of india called HYDERABAD,<br>which is famous for its biryani.<br>
                I have done my  majoring in <br>computer science from CVR College of Engineering.<br>   </h5>
        <h3>My Plans</h3>
            <h5>I'm interested in project management and devOps.<br> I'd like to become an SDM ie <br> a Software development manager in the future </h5>
        <h3>My Interests</h3>
            <h5>Slowly I'm getting more and more interested in devOps.<br> I like android programming too.<br> Apart from technical stuff I'm interested
				in Singing. I'm also into eating healthy and staying fit.</h5>
<br/>
<br/>