
<div style="background-color: #a1abba">
    <!-- <div>   -->
    <!-- <img src="../../images/aboutme/t2b/cssimage1.jpg"> -->
    
    <br/>
    <br/>
    <br/>
    <h1>Chaithanya Manas Reddy Matta </h1>
    <h2>Software Designer </h2>


    <div class="row">
        <div class="col-md-8">
            <h2 style="color: green">Background</h2>
            <p>This is matta, chaithanya manas reddy born and brought up in khammam, a city in Telangana, India
                <br>I completed my under graduate in Electrical and Electronics in Vasavi college of engineering, Hyderabad</p>
        </div>
        <div class="col-md-4">
            <img src="../../images/aboutme/t2b/manas.jpg" class="img-circle" alt="manas" width="170" height="170">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Plans</h2>
            <p>I am intrested in database management systems
                <br>my plan is to join an organisation and use my
                <br>skills in developing the organisation</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Interests</h2>
            <p>I like to know about the new tech
                <br>I like playing basketball and cricket</p>
        </div>
    </div>
    </body>

    <br/>
    <br/>
</div>