<br/>
<br/>
<br/>
<h1>Srinivas Prakash</h1>
<h2>Software Developer</h2>
<h2 style="color:blue">My background</h2>
<class="para">I am srinivas prakash from Hyderabad,India.<br>
I completed my undergraduation in the field of computer from Ace engineering college<br>
</section>
<section>
<h2 style="color:blue">My Plans</h2>
<class="para">At present my goal is to pursue my master degree with required knowledge from this school<br>
 so that in the future I will be able to work as an ios developer with Apple.inc<br>
</section>
<section>
<h2 style="color:blue">My Interests</h2>
<class="para">I have innate hunger for adventure and risk.I love visiting new places.<br>
 Apart from that,I am interested in learning new technologies.

<br/>
<br/>