<br/>
<br/>
<br/>
<h1>Varshitha Guntakandla</h1>
<h2>Software Developer</h2>
<div class="col-md-4">
    <img src="../../images/varshitha.jpg" class="img-circle" alt="manas" width="170" height="170">
</div>
<h1 class="heading" >About Me      </h1>
</header>
<h3>   Background      </h3>
<p class="para">
    Hi!My name is Varshitha Guntakandla.I grew up in hyderabad,telangana<br>
    and completed my bacholors of technology at G.Narayanamma Institution <br>
    in May,2017.I'm currently pursuing my masters at NWMSU.
<br>
</p>
<section>
<h3>   plans        </h3>
<p class="para">
    I want to explore backend technologies and gain practical knowledge<br>
    which would be helpful in development feild.
<br>
</p>
</section>
<section>
<h3>   My interests    </h3>
<p class="para">
    I like to travel and know their cultures.I also like reading books
<br>
</p>
</section>
</article>

</div>


<br/>
<br/>