<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #5  : Santhosh Dulam,Sai Varun,Keerthi                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page describes details about myself.                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Santhosh Dulam                          0.0.1(Initial)                 initial                | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->

<!DOCTYPE html>
<html>
	<head>
			
			<!-- <link type ="text/css" href="\css\aboutme\Dulam_Santhosh.css" rel="stylesheet" />  -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

	</head>
	<body background="\images\aboutme\t5a\749510_white-light-plain-backgrounds-wallpapers-image-2-puzzle-play_1920x1080_h.jpg">
			<div class="container">
		
				<div class="row">
					<div class="col-md-2"> 
							<img border-radius="50" src="\images\aboutme\t5a\facebook_1505597921780.jpg" alt="Paris" width="100" height="100">
                    </div>
                    <div class="col-md-6">
                            <div class="header1">
                                <header><h1>About Me </h1></header>
                            </div>
                        </div>
					
				</div>
										<!-- Example row of columns -->
				<div class="row">
								<div class="col-md-12">
										<h2 class="head">My Background</h2>
											<p><strong>Hi All,I was born and brought up in Andhra Pradesh,India.</strong></p>
										<p><strong>I completed my under graduation in Computer Science Department.</strong></p>
										<p><strong>I worked for Tech Mahindra for 3 years.</strong></p>
								</div>
							  
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Plans</h2>
								<p><strong>I would like to see myself as a data scientist in next couple of years</strong></p>
								<p><strong>Learning front end programming will be an add-on for me.</strong></p>
						  </div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Interests</h2>
								<p><strong>My favourite sport is Shuttle Badminton,I played at national level</strong>.</p>
								<p><strong>I love to see new places and experience the beauty, food and people of different regions.</strong></p>
						 	 	
						  </div>
				</div>
			</div>
						
	</body>
</html>
