
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="..\..\..\..\public\css\aboutme\eliciaReuscher\elicia.css"> 
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <style>
 body{font-family:Helvetica, Georgia;
	 text-align:center;}

#name{text-align:center;
		font-size:60px;
        padding-top:10px;
        color:#15aaaf
        }
		
#border{text-align: center;
      border: #15aaaf solid 5pt;
      background-color: #e9e9e9;
    max-width:1200px;
    align-content: center;}

#border p {padding-right:150px;
          padding-left:150px;}

#border h1 {border-bottom: #15aaaf dashed;
            padding:10px;}

#subhead {color:#b9b9b9;}

a { color:#15aaaf;}

a:hover{color:#ffffff;}
 </style>
</head>

<body>
<header id="name">Elicia Reuscher</header>
<h1 id="subhead"> UX/UI Designer</h1>
<br>
<article id="border">

<h1>Background:</h1><p> I am from Kansas City, MO. I am double majoring in
Interactive Digital Media: Computer Science and Visual Imaging. I have had two previous 
internships. The first one was last Fall, where I created a website for Maryville's local hospital.
My second internship was over the Summer for Blue Cross and Blue Shield of Kansas City. At BCBS I was a user
experience and user interface designer.<br> Here is a video of the greatest university, NWMSU!</p>
<iframe width="360" height="215" src="https://www.youtube.com/embed/d5oz2OZzzfc" frameborder="0" allowfullscreen></iframe>
<br>
<br>

<h1>My Plans:</h1><p>I plan to become a user experience designer at a company 
because I love to create
visually appealing websites, mobile apps, or any programs used by the public.</p><br>

<h1>My Interests:</h1><p>I love to design anything digitally, whether it's PowerPoints, 
posters, websites, or mobile apps. I also love to spend time with  my family and friends. I have 2 puppies 
and a dog at home, so I am a dog lover.</p><br>

<h1>Contact Info:</h1><p><a href="mailto:s523840@nwmissouri.edu">Elicia Reuscher's Email</a></p>
<footer style="text-align:center;"><strong>This is me!</strong></footer>
</article>
</body>
</html>
<br>
<br/>
<br/>