<br/>
<br/>
<br/>
<h1 style="color:blue"><b>Pravalika Kawali</b></h1>
<h2>Software Developer</h2>
<article>
    <header>
     <img alt="image" src="../../images/aboutme/t6b/info.JPG" class="image img-circle" style ="float: center" repeat="no repeat" width="150px" height="150px" align="middle"/>
            <body style="background-color:#F9E79F;">
        <header><h1 id="mainheader"><b><span style="color:blue">Introduction</span></b></h1></header>
        <ol  type="I"> 
            <li>
                <section>
                    <h3 id="header"><b>Background</b></h3>
                    <p class="plansection">
                     I am Pravalika from Hyderabad. I've worked in three companies
                    and my overall experience is 5 years.
                    Recently I've resigned from Accenture Services Pvt.Ltd
                    with client as Google where I had worked for 3.4 years as Quality Analyst.</p>
                </section>
            </li>
            <li>
                <section>
                            <h3 id="header"><b>Plans</b></h3>
                            <p class="plansection">Firstly, I'll finish my Masters with good practical knowledge. Secondly, I'll put my practical efforts in developing technology 
                            by re-using coding languages.</p>
                </section>
            </li>
            <li>
                <section>
                            <h3 id="header"><b>Interests</b></h2>
                            <p class="plansection">My interests are exploring new technologies, watching cricket, 
                            surfing social networking sites, playing badminton and reading articles.</p>
                </section>
            </li>
        </ol>   
        
    </header>
</article>
<br/>
<br/>