<br/>
<br/>
<br/>
<h1>Saiteja Jonnalagadda</h1>
<h2 style="color:blue;">My Information</h2>
<div class="col-md-12">
    <img class="img-circle" src="../../images/aboutme/t6a/propic.jpg" alt=Name height="200" width="200">
</div>
<br/>
<br/>
<br/>
<br/>
<h5>I am <b> SAITEJA JONNALAGADDA </b> from India. I have completed my <br>
    under graduation in computer science from VR Siddhartha Engineering College.</h5>

 <h6>I have gained some knowledge in my undergraduation. I am intrested to learn more <br>
    things in my graduation which will be helpful for me to become a best software engineer.</h6>   

 <h7>I am intrested in playing cricket, listening music and communicating with friends.</h7>   



<br/>
<br/>