<br/>
<br/>
<br/>
<h1>Shobhit Dobhal</h1>
<h2>Software Developer</h2>
<h2 style="color:blue">My background</h2>
<class="para">I am Shobhit Dobhal from New Delhi,India.<br> I completed my undergraduation in Information Technology from Gitam University.<br>
    </section>
    <section>
        <h2 style="color:blue">My Plans</h2>
        <class="para">At present my goal is to complete my masters with appropriate acquired knowledge.<br>
    </section>
    <section>
        <h2 style="color:blue">My Interests</h2>
        <class="para">I have a keen interet in travelling to new places. Alongwith this, i love playing games<br> I have had my hands on with the latest Destiny 2 and many other FPS games for PS4 console.

            <br/>
            <br/>