<!--
* @file views\about\t7\index.ejs
* This file implements the team 7 about view.
*
* @summary - Team 7 About View.
* @author - Kishan Kalburgi Srinivas 
* @copyright - Northest Missouri State University
-->

<br/>
<br/>
<br/>
<div class="textstyle">
<h1>Team 7</h1>
<h2>Software Developer</h2>
<h2>Rohith Kumar Agiru , Kishan Kalburgi Srinivas</h2>
<br/>
<h2>Responsible for: utils -> logger.js and seeder.js</h2>
</div>
<br/>
<br/>   

<style>
    .textstyle {
        font-family: Monotype Corsiva;
    }
</style>