<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #11                                                                                                                          | 
*      |Unit #11  : Darshan Reddy Chilakala, Tapan Kumar, Pavithra Devdas                                                                                    | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page dispalys about information                                                                | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Darshan Reddy                  0.0.1(Initial)                 Modified the variables and updated contents              | 
*      |   Tapan Kumar                                                                                                                                   | 
*      |   Pavithra Devdas                                                                                                                                    | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" type="text/css" href="\css\aboutme\pavithra.css">
		
</head>
<body class="mainBody" >
	<img class="img-circle" src="\images\aboutme\t11c\download.jpg" alt="picture" width="250" height="250">
	<header>
<h1 id="name">I'm Pavi</h1>
</header>
	<section class ="backgroundContent">
		<h3> Background </h3>
		<p id = "contentTextColor"> I am Computer Enthusiast from Hyderabad, India.<br>
		I completed my Bachelor’s degree in Information Technology from College of Engineering, Anna University, India.<br>
		I have done many projects during my Bachelor’s using JavaScript, Java, Python.<br>
		I worked as a Development Engineer in Dell and worked on various applications on Linux, Windows.<br>
		</p>	
	</section >
	
	
	<footer>
         <p id="footer">Contact me@ <a href="https://www.linkedin.com/in/pavithra-devdas-592b96114/">Pavithra Devdas</a></p>
     </footer>
</body>
</html>

 