<br/>
<br/>
<br/>
<h1>Ashwith Gundu</h1>
<h2>Software Developer</h2>

<section>
    <h3 class= "a">Background</h3>
        <p id="back">      I am Ashwith Gundu from Hyderabad, a city located in Telangana, India.<br>
             I Completed <span style="color:blue">Computer Science</span> Bachelors Degree in Jawaharlal Nehru<br>
             Technological University in year 2017.<br>
        </p>
</section>

<br/>
<br/>